/vendor/
node_modules/
npm-debug.log
yarn-error.log

Laravel

/public/storage
/public/hot
/storage/.key
/storage/framework/cache/data/
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

Environment

.env
.env.backup
.env.production
.env.local

IDEs and Editors

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

Compiled frontend assets

/public/build
/public/mix-manifest.json

Composer

composer.phar
/auth.json

Testing

/phpunit.xml
/phpunit.result.cache
/.phpunit.cache